/* all app scss styles here */
@mixin transition($kind, $duration) {
	-o-transition: $kind $duration;
	-ms-transition: $kind $duration;
	-moz-transition: $kind $duration;
	-webkit-transition: $kind $duration;
	transition: $kind $duration;
}

@media #{$screen} {

	body {
		background-color: $primary-color;
		background-image: url(../images/wave_bg.png);

		@media (-webkit-min-device-pixel-ratio: 2) {
			background-image: url(../images/wave_bg@2xx.png);
			background-size: 18px auto;
		}
	}

	a {
		color: black;
		@include transition(color, .25s);

		&:hover {
			color: initial;
			text-decoration: underline;
		}
	}

	header {
		padding-top: 16px;

		a.text {
			color: $light-black;
			display: inline-block;
			font-weight: bold;
			margin-top: 14px;
		}

		img {
			max-width: 99px;
		}
	}

	.frontpage {

		.content {
			padding-top: 24px;
			padding-bottom: 180px;

			img {
				display: block;
				height: 180px;
				margin: 0 auto 36px;
				object-fit: cover;
			}

			a.buy {

				&:hover {
					text-decoration: none;
				}

				button {
					background-color: $light-black;
					box-shadow: 0 3px 66px 0 rgba(0, 0, 0, 0.34);
					border-radius: 100px;
					color: white;
					display: block;
					font-size: 18px;
					font-weight: bold;
					height: 50px;
					line-height: 50px;
					letter-spacing: .28px;
					margin: 0 auto 40px;
					max-width: 292px;
					outline: none;
					padding: 0;
					position: relative;
					text-align: center;
					width: 100%;
					z-index: 0;
					@include transition(all, .25s);
	
					&:hover {
						transform: translateY(-3px);
					}
				}
			}
		}

		footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;

			@media screen and (min-width: 480px) and (min-height: 320px) {
				position: static;
			}
		}
	}

	.about-page {

		.content {
			max-width: 600px;
			margin: 0 auto;
			padding-top: 76px;

			* {
				color: $light-black;
			}

			h1 {
				font-family: $font-faune;
				font-size: 42px;
				font-style: italic;
				font-weight: bold;
				margin: 0 0 38px;
				text-align: center;
			}
			h2 {
				font-family: $font-zeitung;
				font-size: 16px;
				font-weight: bold;
				margin: 0;
				text-transform: uppercase;
			}

			p {
				font-size: 16px;
				font-weight: normal;
				line-height: 20px;
				margin-bottom: 22px;

				&.short-text {
					line-height: 20px;
				}
			}
		}
	}

	footer {
		background-color: $primary-color;
		height: 58px;

		a {
			display: inline-block;
		}

		> .row {
			height: 100%;
			padding: $column-gutter/2 0;

			> .columns {
				height: 100%;

				.flex {
					display: flex;
					align-items: center;
					flex-direction: row;
					height: 100%;
					justify-content: center;

					span {
						margin: 0 4px;
					}
				}
			}
		}
	}

	header,
	footer {

		a {
			font-size: 14px;
			line-height: 16px;
			letter-spacing: -0.47px;
		}
	}
}

@media #{$medium} {

	header {
		padding-top: 20px;
	}

	.frontpage {

		.content {
			padding-top: 100px;
			padding-bottom: 420px;
		}

		footer {
			position: fixed;
		}
	}

	.about-page {

		footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;

			@media screen and (min-width: 1024px) and (min-height: 768px) {
				position: static;
			}
		}

		.content {
			padding-bottom: 120px;
		}
	}

}

@media #{$large} {

	header {
		padding-top: 24px;
	}

	.frontpage .content {
		padding-bottom: 240px;

		img {
			height: 400px;
		}
	}

	.about-page {

		footer {
			position: static;
			
			@media screen and (min-width: 1024px) and (min-height: 826px) {
				position: fixed;
			}
		}

		.content {
			padding-bottom: 140px;
		}
	}

}
